@font-face {
    font-family: 'MuseoSansCyrl-300';
    src: url('../MuseoSansCyrl-300/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-300.woff2') format('woff'),
  }
  @font-face {
    font-family: 'MuseoSansCyrl-500';
    src: url('../MuseoSansCyrl-300/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-500.woff2') format('woff'),
  }
  @font-face {
    font-family: 'MuseoSansCyrl-700';
    src: url('../MuseoSansCyrl-300/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-700.woff2') format('woff'),
  }

/*
Используйте WOFF 2.0 в тех браузерах, которые его поддерживают.
Добавьте WOFF для большинства браузеров.
Применяйте TTF в устаревших браузерах Android (для версий до 4.4).
Добавьте EOT для поддержки устаревших версий IE (до IE9). 
*/