@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

@import 'mixins';
@import 'fonts';
@import 'normalize';
@import 'variables';



html {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}
body {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    color: $black;
    min-height: 200vh;
}
.container {
    min-width: 1600px;
}

a {
    color: $black;
    text-decoration: none;
}
p {
    font-family: $msc3;
    font-size: 14px;
}
li {
    list-style-type: none;
}

.btn {
    position: relative;
    text-align: center;
    border-radius: 30px;
}

.head-section {
    position: relative;
    background: url(../img/bg.jpg) 0 0 no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    &:after {
        content : '';
        position: absolute;
        display: block;
        width: 100%;
        height: 154px;
        bottom: 0;
        left: 0;
        background: url(../img/wave.png) center 0 no-repeat;
        background-size: cover;
        z-index: 2;
    }
}

// Header
header .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0 15px;
    z-index: 2;
    position: relative;
}

.header__logo {
    
    display: flex;
    align-items: center;
    img {
        width: 280px;
        height: auto;
    }
}

.header__text {
    margin-left: 40px;
    width: 150px;
    margin-right: auto;
}
.header__adress {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 55px;
}
.header__adress-img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    background: url('../img/map.jpg') -10px 0 no-repeat;
}
.header__adress-text {
    margin-left: 24px;
    min-width: 200px;
    h3 {
        margin-bottom: -10px;
        font-family: $msc7;
        font-size: 16px;
        line-height: 1;
    }
    p {
        margin-bottom: 15px;
    }
}
.map-link {
    position: relative;
    color: $pink;
    font-size: 12px;
    font-family: $msc5;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px dashed $pink;
    iframe {
        position: absolute;
        z-index: 3;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        &:hover {
            display: block;
        }
    }
    &:hover {
        iframe {
            display: block;
        }
        
    }
}

.before {
    content : '';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    // background: url(../img/lock_icon.png) 0 0 no-repeat #ffffff;
}

.header__phone {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 47px;
    margin-right: 62px;
    span {
        position: relative;
        display: inline-block;
    }
    a {
        position: relative;
    }
    .call-us {
        padding-left: 16px;
        margin-bottom: 12px;
        font-size: 12px;
        &:before {
            @extend .before;
            background: url(../img/green-point_icon.png) 0 0 no-repeat;
            left: -5px;
            top: 0;
            bottom: 0;
            width: 20px;
            height: 20px;
        }
    }
    .number {
        margin-bottom: 20px;
        font-size: 24px;
        font-family: $msc5;
        &:before {
            @extend .before;
                background: url(../img/phone_icon.png) center center no-repeat #ffffff;
                width: 35px;
                height: 35px;
                left: -47px;
                top: -10px;
        }
    }
    .time {
        font-size: 16px;
        b {
            font-family: $msc7;
            font-style: bold;
        }
        &:before {
            @extend .before;
                background: url(../img/lock_icon.png) center center no-repeat #ffffff;
                width: 35px;
                height: 35px;
                left: -47px;
                top: -10px;
        }
    }
}

.header__sign-up-btn {
    padding: 23px 25px;
    font-family: $msc5;
    font-size: 15px;
    background-color: #fefcfb;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(251,251,250,0.5);
    -moz-box-shadow: 0px 3px 0px 0px rgba(251,251,250,0.5);
    box-shadow: 0px 3px 0px 0px rgba(251,251,250,0.5);
        span {
        position: relative;
        display: inline-block;
        margin-left: 30px;
        &:before {
            @extend .before;
                background: url(../img/calendar_icon.png) center center no-repeat #ffffff;
                border-radius: 0;
                width: 20px;
                height: 20px;
                left: -30px;
                top: -4px;
        }
    }
    
}

            // меню
.head__menu .container {
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 27px 0px -20px rgba(251,251,250,.5);
    -moz-box-shadow: 0px 27px 0px -20px rgba(251,251,250,.5);
    box-shadow: 0px 27px 0px -20px rgba(251,251,250,.5);
    z-index: 3;
    position: relative;
    ul {
        display: none;
    }
}
.head__menu-list {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
     padding: 0 36px;
    // border-radius: 4px;
    // -webkit-box-shadow: 0px 27px 0px -20px rgba(251,251,250,.5);
    // -moz-box-shadow: 0px 27px 0px -20px rgba(251,251,250,.5);
    // box-shadow: 0px 27px 0px -20px rgba(251,251,250,.5);
    z-index: 3;
    position: relative;
    .popup-close {
        display: none;
    }
}

.hamburger {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.hamburger-box {
    height: 30px;
}

.head__menu-item {
    a {
        display: block;
        padding: 23px 10px;
        font-family: $msc3;
        font-size: 15px;
        color: $black;
        &.active {
            font-family: $msc7;
            font-weight: bold;
        }
    }
}

// main content
.head__content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../img/girl.png) right bottom no-repeat;
    z-index: 2;
    h1 {
        font-size: 47px;
        font-family: $msc3;
        margin: 0 0 60px;
        b {
            font-family: $msc7;
        }
    }
}

// PARALLAX
.parallax-1, .parallax-2 {
    position: absolute;
    z-index: 0;
}
.parallax-1 {
    top: 30%;
    left: 15%;
}
.parallax-2 {
    right: 0;
    top: 10%;
    z-index: 0;
}

.head__content_list {
    padding-left: 30px;
    margin-bottom: 60px;
}
.head__content_list-item {
    margin-bottom: 20px;
    position: relative;
    p {
        font-family: $msc3;
        font-size: 18px;
        z-index: 2;
        padding-left: 5px;
    }
    &:before {
        @extend .before;
        background: url(../img/list_icon.png) center center no-repeat;
        width: 34px;
        height: 34px;
        left: -34px;
        top: -4px;
        bottom: 0;
    }
}

.get-card-btn {
    position: relative;
    display: block;
    background: linear-gradient(to top, #f08c93, #f8b5b6);
    
    border-radius: 50px;
    max-width: 420px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(215, 116, 122, 1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(215, 116, 122, 1);
    box-shadow: 0px 4px 0px 0px rgba(215, 116, 122, 1);
    p {
        z-index: 3;
        padding: 30px 150px 30px 45px;
        font-family: $msc7;
        font-size: 14px;
        // max-width: 220px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        line-height: calc(14px + 7px);
        letter-spacing: 3px;
    }
    &:before {
        @extend .before;
        background: url(../img/twig.png) center center no-repeat;
        width: 273px;
        height: 74px;
        top: auto;
        bottom: 0px;
        right: -110px;
        z-index: 3;
    }
}

.head__content-text {
    position: relative;
    margin-left: 8.33333%;
    padding-bottom: 120px;
}

.head__client-card {
    position: absolute;
    left: 480px;
    top: 280px;
}
.pulsation-btn-wrap {
    position: absolute;
    left: 330px;
    top: 190px;
    width: 42px;
    height: 42px;
    z-index: 2;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        right: -6px;
        bottom: -6px;
        left: -6px;
        margin: auto;
        border: 1px solid #f19095;
        border-radius: 50%;
        animation: pulsation-animation 1s linear infinite;
        // cursor: pointer;
        z-index: 1;
    }
    &:hover {
        &:after {
            display: none;
        }
        .head__client-card-lorem {
            display: block;
        }
    }
}
.head__client-card-lorem {
    width: 190px;
    height: 225px;
    background: url('../img/text-bg.png') -16px 0 no-repeat;
    padding: 44px 41px 30px 27px;
    font-family: $msc3;
    font-size: 14px;
    letter-spacing: 2px;
    position: absolute;
    top: -16px;
    left: 348px;
    // transform: scaleY(0);
     display: none;
}
.head__client-card-lorem.visible {
    display: block;
}

// popup
.popup-close {
    width: 40px;
    height: 40px;
    background: url(../img/close-icon.png) center center no-repeat;
    position: absolute;
    right: 30px;
    top: 40px;
    cursor: pointer;
}

.popup_wrap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 1);
    z-index: 5;
    display: flex;
    display: none;
    // align-items: center;
    // justify-content: center;
}
.popup {
    display: none;
    position: absolute;
    max-width: 736px;
    text-align: center;
    padding: 65px 90px;
    background: rgb(252,253,253);
    background: linear-gradient(45deg, rgba(252,253,253,1) 10%, rgba(253,243,238,1) 90%);
    border-radius: 40px;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}
.popup_header {
    font-family: $msc3;
    font-weight: normal;
    font-size: 36px;
    b {
        font-family: $msc7;
        font-weight: bold;
    }
}
.popup_text {
    font-family: $msc3;
    font-size: 16px;
    color: #282828;

}
.popup-form {
    position: relative;
    max-width: 495px;

}
.popup-input {
    position: relative;
    background-color: #fff;
    padding: 30px 30px 30px 40px;
    font-family: $msc3;
    font-size: 18px;
    color: #989797;
    border: 1px solid #fbeeef;
    border-radius: 40px;
    margin-bottom: 16px;
    outline: none;
    width: 100%;
}
.popup-btn {
    width: 100%;
    max-width: 100%;
    border: none;
    p {
        text-align: left;
        padding: 30px 100px 30px 45px;
        margin: 0;
    }
    &:before {
        background: url(../img/plant.png) center center no-repeat;
        right: -110px;
    }
}
.btn {
    outline: none;
}

.popup-form_btn {
    position: relative;
    cursor: pointer;
    display: flex;
    span {
      display: inline-block;
    }

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      background: url("../img/arr-down_icon.png") center no-repeat;
      background-size: cover;
      height: 6px;
      width: 11px;
    }
  }
  .popup-form_list-block {
    position: relative;
    z-index: 2;
  }
  .popup-form_list {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: none;
    // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  }
  .popup-form_list-item {
    padding: 15px 25px;
    background-color: #fff;
    text-align: left;
    position: relative;
    span {
        
      display: inline-block;
      font-family: $msc3;
      font-size: 16px;
      color: #282828;
    }
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: url("../img/arr-down_icon.png") center no-repeat;
      background-size: cover;
      height: 6px;
      width: 11px;
      transform: rotate(-90deg);
    }
  }
.popup_get-program {
    &:before {
        content: '';
        display: block;
        background: url('../img/notebook.png') center center no-repeat;
        width: 263px;
        height: 386px;
        top: 50%;
        transform: translateY(-50%);
        left: -15%;
        position: absolute;
        z-index: 0;
    }
}
.popup_done {
    overflow: hidden;
    &:before {
        content: '';
        display: block;
        width: 95px;
        height: 95px;
        background: url('../img/check-mark-icon.png') center no-repeat;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    &:after {
        content: '';
        display: block;
        background: url('../img/123.png') center center no-repeat;
        width: 117px;
        height: 235px;
        bottom: -50px;
        right: 0;
        position: absolute;
    }
}
.error {
    // position: absolute;
    
}

@keyframes pulsation-animation {
    0% {
        transform: scale(.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        transform: scale(1.2);
        opacity: 0;
    }
}




// MEDIA

@media(max-width :1600px) {
    .container {
        min-width: 960px;
    }
    .header__phone {
        margin-right: 0;
        margin-left: 47px;
    }
    .header__adress {
        margin-left: 0;
    }
    .header__sign-up {
        margin: 20px auto 10px;
    }
    
}


@media (max-width: 1200px) {
    .head__content {
        background: none;

        h1 {
       font-size: 40px; 
        }
    }
    .head__client-card {
        left: 350px;
    }
    
    .head__menu .container {
        ul {
            display: block;
        }
    }
    .hamburger {
        display: block;
    }
    .header__sign-up {
        margin: 20px 15px 10px auto;
    }

    .head__menu-list {
        position: absolute;
        left: 0;
        right: 0;
        top: 72%;
        width: 100%;
         height: auto;
        background: #fff;
        flex-direction: column;
        z-index: 10;
        // transform: scaleY(0);
        display: none;
        transition: .5s;
    }
    .head__menu-list.visible {
        transform: scaleY(1);
        transition: .5s;
    }
}
@media(max-width :992px) {
    
     .container {
         min-width: 720px;
     }
     .head__client-card {
        left: -50px;
        top: auto;
        bottom: -100px;
    }
    .head__content-text {
        padding-bottom: 480px;
    }
     header .container {
         flex-direction: column;
         .header__sign-up {
            margin: 20px auto 10px;
        }
         &>div {
             margin-bottom: 30px;
         }
     }
     .header__logo {
         flex-direction: column;
     }
        
 }
@media(max-width :768px) {
    .head__content {
        h1 {
       font-size: 30px; 
        }
    }
    .container {
        min-width: 510px;
    }
    .head__client-card {
        left: -200px;
    }
}
@media(max-width :540px) {
    .container {
        min-width: 320px;
    }
    .header__logo {
        img {
           width: 200px;
           height: auto;
       }
    }
}
@media(max-width :480px) {
    .head__content {
        h1 {
       font-size: 24px; 
        }
    }
    .head__content_list-item p {
        font-size: 16px;
    }
    .get-card-btn {
        p {
            font-size: 10px;
            padding: 30px 45px 30px 45px;
        }
        &:before {
            display: none;
        }
    }

}
